* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: default;
}
:root {
  ---theme-color: purple;
  --buttons-color: brown;
  --form-background: bisque;
  --button-padding: 4px;
  --page-min-height: 76vh;
  --line-height: 1.7em;
}
#root {
  background-color: rgba(0, 0, 0, 0.158);
  min-height: 100vh;
}
.appComponent {
  min-height: 100vh;
}
.footer {
  background-color: var(---theme-color);
  padding: 20px;
  color: white;
  text-align: center;
  position: relative;
  width: 100vw;
  bottom: auto;
}
.footer h2 {
  text-align: center;
}
.footer * {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 10px auto;
}
.navBar {
  background-color: var(---theme-color);
  width: 100vw;
  margin-top: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 7;
  position: fixed;

  z-index: 2;
}
.myBlogs div {
  padding: 20px;
}
.usernameExised::placeholder {
  color: red !important;
}
.navLinks {
  background-color: rgba(233, 231, 231, 0.959);
  text-align: center;
  width: 120px;
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 1s;
  animation: fade 0.5s forwards linear;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.closeMenu {
  display: inline-block;
  padding: 5px;
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;

  right: 0;
}
.closeMenu:hover {
  background-color: rgb(104, 0, 0);
  color: white;
}
.navBar h2 {
  color: aqua;
  grid-column: 2/4;
}

.navLinks .navLink {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  border: solid 0.5px brown;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}
.navLink:hover {
  background-color: brown;
  color: seashell;
}
.navBarLinks {
  display: none;
}
.menu {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
  color: white;
}

.HomePage {
  text-align: center;
  max-width: 100vw;
  min-height: var(--page-min-height);
}
.welcomeMsg {
  background-color: darkblue;
  color: white;
  margin: 10px auto;
  width: 100vw;
  font-size: 1.3em;
  padding: 1em;
}
.introToPage {
  background-color: aliceblue;
  margin: 10px;
  padding: 20px;
}
.howPageWorks {
  background-color: aliceblue;
  margin: 10px;
  padding: 20px;
}
.pp {
  background-color: aliceblue;
  margin: 10px;
  padding: 20px;
}

.logingPage {
  width: 100%;
  height: var(--page-min-height);
  text-align: center;
}
.logingForm {
  border: 2px solid blue;
  max-height: 70%;
  height: max-content;
  margin: 30px auto;
  width: 70vw;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: var(--form-background);
}
.logingInputs {
  margin: 10px auto;
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.button {
  background-color: var(--buttons-color);
  margin: 20px;
  padding: var(--button-padding);
  color: wheat;
}
.button:hover {
  background-color: rgb(100, 30, 30);
}
.button:disabled {
  background-color: rgb(151, 84, 84);
}
.aggrement {
  font-size: 0.7em;
}
.signUpPage {
  text-align: center;
  min-height: var(--page-min-height);
}
.signUpPage p {
  margin: 20px auto;
}
.blogsPage {
  min-height: var(--page-min-height);
}
.eachBlog {
  border: solid 1px slategrey;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px black;
  background-color: aliceblue;
}
.blogTittle {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
}
.bodyPreview {
  text-align: left;
  line-height: var(--line-height);
  letter-spacing: 1.5px;
  margin: 20px;
}
.reactions {
  margin: 20px;
}
.likes {
  display: inline-block;
  margin: auto 10px;
  text-decoration: none;
}
.comments {
  display: inline-block;
  margin: auto 10px;
  text-decoration: none;
}
.blogAuthor {
  text-align: right;
}
.blogDetailsPreview {
  display: none;
}
.blogDetails h4 {
  text-align: right;
  margin-bottom: 20px;
}
.blogDetails h2 {
  margin: 30px auto;
  text-align: center;
}
.newBlog {
  min-height: var(--page-min-height);
  width: 100%;
}
.inputFields {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--form-background);
}

.blogLabel {
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 10px;
}

#category {
  margin: 10px;
  padding: 5px;
  width: 50vw;
}
.privacyPart * {
  font-size: 0.9em;
}
.textArea textarea {
  text-align: center;
  width: 80vw;
  height: 100px;
  outline: none;
  resize: none;
  border: none;
  padding: 10px;
}
.blogBody {
  max-width: 90%;
  margin: 20px;
  max-height: 100px;
  padding: 20px;
  resize: none;
  outline: none;
  border: none;
}
.contactForm {
  min-height: var(--page-min-height);
}

.contactForm .contact {
  background-color: var(--form-background);
  width: 80vw;
  margin: 10px auto;
  text-align: center;
}
#contactBody {
  max-width: 60%;
  max-height: 100px;
  margin: 20px;
  resize: none;
  outline: none;
  border: none;
  padding: 10px;
}
.blogDetails {
  min-height: var(--page-min-height);
}

p {
  line-height: var(--line-height);
}
.myBlogs {
  min-height: var(--page-min-height);
}
.myBlogsOops {
  height: auto;
  text-align: center;
  position: absolute;
  top: 49vh;
}
@media screen and (min-width: 600px) {
  .navBar {
    display: grid;
    grid-template-columns: 7;
  }
  .navBarLinks {
    display: flex;
    justify-content: space-between;
    grid-column: 5/8;
  }
  .navBar .navBarLinks .navLink {
    color: white;
    text-decoration: none;
    transition: 1s;
    padding-top: 20px;
    font-size: 0.7em;
  }
  .menu {
    display: none;
  }
  .navBar .navBarLinks .navLink:hover {
    border-bottom: 2px solid yellow;
    background-color: transparent;
  }
  .navBar h2 {
    color: aqua;
    grid-column: 1/4;
  }
  .blogDetailsPreview {
    display: block;
  }
}
